@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
html, body{
  display: grid;
  width: 100%;
  position: relative;
  top: 70px;
  right: 0px;
  background: linear-gradient(to right, #cfcbce 0%, #cecccd 100%);
}
::selection{
  background: #c7c5c6;

}
.Success{
  background: #DADADA;
  position: relative;
  text-align: center;
  top: 160px;
  left: 760px;
  max-width: 600px;
  height: 250px;
  width: 400px;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
}

a{
  display: block;
  position: relative;
  left: 135px;
  height: 45px;
  width: 60px;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
  line-height: 45px;
  color: #e4370c;
  border-radius: 5px;
  transition: all 0.3s ease;
}

a{
  background: linear-gradient(to right,  #c5bab6 0%, #d1c6c4 100%);
  margin: 20px 0 15px 0;
}
 a:hover{
  background: linear-gradient(to left,  #c9b2ab 0%, #cab3ad 100%);
  margin: 20px 0 15px 0;
}